<ul>
    <li *ngFor ="let item of listado">
        {{item.employee_name}}
    </li>
</ul>
<table>
    <thead>
        <th>id</th>
        <th>nombre</th>
        <th>salario</th>
    </thead>
    <tbody>
        <tr *ngFor='let employee of listado'>
            <td>
                {{employee.id}}
            </td>
            <td>
                {{employee.employee_name}}
            </td>
            <td>
                {{employee.employee_salary}}
            </td>
        </tr>
    </tbody>
</table>

<!-- <p>{{listado | json}}</p> -->